[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
hypothesis = "*"
gurl = {editable = true,path = "."}

[packages]
httptools = "*"

[requires]
python_version = "3.8"
